.bg-image {
  background-image: url(../images/food.jpg);
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 780px) {
  .bg-image {
    background-image: url(../images/food.jpg);
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 200vh;
  }
}
.button.is-large {
  margin-left: -22px;
  font-size: 1.5rem;
}
.hidden {
  display: none;
}


/* Temp CSS*/ 
.cuisineType{
  color: white;
}

.receipeRow{
  /* display: flex; */
  align-items: center;
  color: white;
  border: 2px solid black;
  width: 150px;
  list-style: none;
}

footer{
  background-color: grey;
}