body {
  background-image: url(../images/food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.button.is-large {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
